.tabcont {
  color: black;
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.tabcontcolor {
  color: #0284c7;
  border-color: #0284c7;
  border: solid;
  border-radius: 13px;
  padding: 7px;
}

.tabbutton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
